<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/agency.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>


    
    <script src="~/Scripts/jquery.js"></script> 
    <script src="~/Scripts/jqueryMin.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/cndjs.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/cbpAnimatedHeader.js"></script>
    <script src="~/Scripts/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/contact_me.js"></script>
    <script src="~/Scripts/agency.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <title>Фитнес клуб SportVita</title>
</head>
<body id="page-top" class="index">
    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SportVita</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden" id="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li  id="aboutScroll" class="">
                        <a class="page-scroll" href="#about">О нас</a>
                    </li>
                    <li id="servicesScroll" class="">
                        <a class="page-scroll" href="#services">Направления</a>
                    </li>
                    <li id="scheduleScroll" class="">
                        <a class="page-scroll" href="#schedule">Расписание</a>
                    </li>
                    <li id="teamScroll" class="">
                        <a class="page-scroll" href="#team">Инструкторы</a>
                    </li>
                    <li id="priceScroll" class="">
                        <a class="page-scroll" href="#price">Цены</a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li id="config" class="">
                            <a href="@Url.Action("ViewNotation", "Notation")"><i class="fa fa-briefcase"></i></a>
                        </li>
                        <li id="exit" class="">
                            <a href="@Url.Action("Logoff", "Account")"><i class="fa fa-sign-out"></i></a>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    </nav>
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Добро пожаловать в фитнес клуб SportVita!</div>
                <a class="page-scroll btn btn-xl" data-toggle="modal" data-target="#modalEnroll">Записаться</a>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Your Website 2014</span>
                    </div>
                    s<div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://vk.com/"><i class="fa fa-vk"></i></a>
                            </li>
                            <li>
                                <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://vk.com/"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

<script>

</script>